*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: Math;
}

.head-content h1{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 20px;
}

.navbar{
    position: absolute;
    top: 30px;
    right: 150px;
}

.navbar li{
    display: inline;
    margin-right: 40px;
}

.navbar li a{
    color: black;
    font-size: 20px;
}

.navbar li a:hover{
    color: darkgrey;
}

.btn-1 button{
    background-color: black;
    border-radius: 6px;
    padding: 3px;
}

.btn-1 button:hover{
    background-color: rgba(0, 0, 0, 0.912);
}

.btn-1{
    position: absolute;
    top: 30px;
    right: 100px;
}

.btn-1 a{
    color: white;
    padding: 3px;
}

.poster-1 img{
    position: absolute;
    top: 100px;
    left: 40px;
}

.poster-content {
    position: absolute;
    top: 110px;
    right: 80px;
}

.poster-content h1, p {
    padding: 0px 0px 20px 0px;
    font-size: 20px;
}

.poster-content #p1, #p3, #p4{
    color: grey;
}

.poster-content #p4{
    margin: 60px 0 0 0;
}

.btn-2 button {
    background-color: black;
    border-radius: 6px;
    padding: 6px;
    width: 530px;
}

.btn-2 button:hover{
    background-color: rgba(0, 0, 0, 0.912);
}

.btn-2 {
    position: absolute;
    top: 180px;
    right: 0px;
}

.btn-2 a{
    color: white;
    padding: 5px;
}

.poster-2 h1 {
    font-size: 20px;
    position: absolute;
    top: 600px;
    left: 40px;
}

.poster-images {
    position: absolute;
    top: 630px;
    left: 35px;
}

.poster-images h1{
    position: absolute;
    top: 240px;
    left: 0px;
}

.poster-images #p5,#p7,#p9{
    position: absolute;
    top: 270px;
    left: 0px;
}

.poster-images #p6,#p8,#p10{
    position: absolute;
    top: 303px;
    left: 0px;
}

.Post-1-content{
    position: absolute;
    left: 0px;
}

.Post-2-content{
    position: absolute;
    left: 432px;
}

.Post-3-content{
    position: absolute;
    left: 850px;
}

